

<form action = '/signup' method ='post'>
  <div class="form-group">
  First Name:<input type="text" name="first_name" class="form-control" style="width: 50%;margin:auto;"required><br>
  Second Name: <br> <input type="text" name="last_name" class="form-control" style="width: 50%;margin:auto;" required><br>
  Email:<br><input type="email" name="email"  class="form-control" style="width: 50%;margin:auto; "required><br>
  Password:<br> <input type="password" name="password" class="form-control" style="width: 50%;margin:auto;" required><br>
  <input type="submit" name="Signup" class="btn btn-primary">
  </div>
</form>
