<form action = '/signup' method ='post'>
  First Name:<br><input type="text" name="first_name" required><br>
  Second Name: <br> <input type="text" name="last_name"required><br>
  Email:<br><input type="email" name="email" required><br>
  Password:<br> <input type="password" name="password" required><br>
  <input type="submit" name="Signup">
</form>
