<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <title>MakersBnB</title>
</head>
<body>
  <table>
    <tr>
      <td>
        <div class="center">
          <%= yield %>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
