<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="/resources/demos/style.css">
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $( function() {
    $( "#datepicker1" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
  $( function() {
    $( "#datepicker2" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
  </script>
  <title>MakersBnB</title>
</head>
<body>
  <nav class="navbar navbar-default" style="background-color: ">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">MakersBnB</a>
</div>
<ul class="nav navbar-nav">
<li class="active"><a href="/">Sign up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/spaces">View Property</a></li>
<li><a href="/spaces/new">List a space</a></li>
</ul>
</div>
</nav>
<!-- navbar finishes here -->
  <div class="jumbotron text-center">
    <h1>MakersBnB</h1>
    <p>Welcome to MakersBnB</p>
     <%# <img src="images/makers.jpg">  %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table>
          <tr>
            <td>
              <div class="center">
                <!-- navbar starts here -->

                <%= yield %>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>

</body>
</html>
