<h1>Requests I've made</h1>
<h1>Not confirmed, Stylish</h1>
<ul><%@bookings.each do |booking|%>
  <%=booking.id%><br>
  <%=booking.users_id%><br>
  <%=booking.spaces_id%><br>
  <%=booking.booked%><br>
  
  <%end%>
</ul>
