<div class="card border-primary mb-3" style="max-width: 35rem;">
  <img class="card-img-top" src="/images/makers.jpg" alt="Card image cap">
  <div class="card-body text-primary">
    <h5 class="card-title"><%=@space.description%></h5>
    <p class="card-text">£<%=@space.price%>.00<br>
      <%=@space.available_from%>
      <%=@space.available_to%>
    </p>
    <a href="#" class="btn btn-primary">Request booking</a>
  </div>
</div>
