<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/makersbnb_header2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=@space.description%></h5>
    <p class="card-text"><%=@space.price%><br>
      <p>start date <input type="text" id="datepicker1" name='start_date' placeholder='<%= @space.available_from.strftime('%d %b %Y') %>' required></p>
      <p>end date <input type="text" id="datepicker2" name='end_date' placeholder='<%= @space.available_to.strftime('%d %b %Y') %>' required></p>
    </p>
    <!-- <a href="#" class="btn btn-primary">Request booking</a> -->
    <form action="/requests">
    <button type='submit' name='request_booking'>Request booking</button>
  </form>
  </div>
</div>
