
<!--
<form action='/spaces/new'>
<input type='submit' id="list_space" value = 'List a Space'/>
</form> -->
<html>
<head>
</head>

<body>
  <form action='/spaces' method='post'>
    <input type='text' placeholder='name' name='name'/>
    <input type='text' placeholder='description' name='description'/>
    <input type='text' placeholder='price per night' name='price_per_night'/>
    <input type='text' placeholder='available from' name='available_from'/>
    <input type='text' placeholder='available to' name='available_to'/>
    <input type='submit' name='list_space' value='List Space'/>
  </form>
</body>
</html>
