
<h1>Book a Space</h1><br>
<form action='/spaces/new'>
  <button type='submit' name='list_space'>List a Space</button>
</form>
<ul><%@spaces.each do |space|%>
  <%=space.description%><br>
  <%end%>
</ul>
