body {
  background-color: white;

}

table {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%

}
h1 {
  font-style:
}

.center {
  margin:auto;
  width:50%;
  border: 2px grey;
  padding: 10px;
  border-style: solid;
      border-width: medium;
      border-radius: 15px;
}
input {
 /* width: 50% ; */
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        object-fit: contain;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
